{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="container">
<h1>Страница про нас</h1>
    <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Мы используем исключительно натуральные продукты - настоящие сливки, обычный творог, качественную муку, поэтому вы можете, не опасаясь, угощать моими лакомствами и своих детей!</h1>
        <p class="lead">Мы едим сплошные ароматизаторы и стабилизаторы, которые до этого полгода морозились на складе

В большинстве тортов, которые вы можете купить в обычном супермаркете, из натуральных ингредиентов только мука, все остальное заменители.

К примеру, есть линейка тортов со сгущенкой: чернослив, курага, орешки в сгущенном молоке. В этих тортах нет ни сгущенного молока, ни кураги, ни чернослива, ни орешков (арахис не считается, это бобовое). Делается это для снижения себестоимости и увеличения срока годности.

Обычный торт, приготовленный с применением сливочного масла, взбитых сливок, яичных белков хранится максимум три дня, тогда как этот торт будет стоять десять дней и ему ничего не будет, потому что вместо сгущенного молока там «продукт молочный сгущенный на растительной основе», вместо сливочного масла маргарин, вместо сухофруктов и джемов кондитерский гель с большим содержанием сахара и ароматизаторов, вместо обычных взбитых сливок там соевые.

На самом деле, себестоимость такого торта - рублей восемьдесят за килограмм. Производитель делает накрутку в 10-20 %, дистрибьютор накидывает еще от 10 до 30%, ну и магазин накручивает 30-40%. Таким образом мы получаем удорожание торта практически на 100%.

Вообще, дата на коробке с тортом - это чаще всего, не дата изготовления, а дата дефростации, то есть разморозки. Срок хранения такого замороженного торта около трех-четырех месяцев (официально).

Согласитесь, гораздо выгоднее держать торты на холодном складе, где им ничего не будет длительное время, чем выбрасывать каждый день кучу тортов в помойку. Честный производитель всегда пишет дату изготовления на коробке. Как правило, она на дне коробки. Технология поставки таких тортов в магазин такова: производитель изготавливает торт, подвергает заморозке (если хороший производитель, то шоковой), отправляет на склад, магазин делает заявку, на складе кладовщик наклеивает стикер с завтрашней датой и на следующий день торт приезжает в магазин. Он проходит дефростацию либо во время перевозки, если перевозится не в изотермическом фургоне, либо уж в магазине. Технология заморозки позволяет перевозить торт на большие расстояния, то есть, если торт изготовлен не в вашем городе, то с вероятностью в 99% он замороженный.

Есть или нет подобные кондитерские изделия личное дело каждого. Никто ведь не мешает прочитать внимательно этикетку. К тому же, такие десерты еда не повседневная. Гораздо хуже другое. Для дистрибьютора производитель обычно устанавливает лимит по возврату просроченной продукции. Как правило, это не более 10%. Жадный дистрибьютор (или еще более жадный производитель, если работает напрямую), чтобы не терять деньги привозит торты на свой склад, где умелыми руками кладовщика с помощью зажигалки стикер аккуратно отклеивается, тортик ставится обратно на полку и ждет своего покупателя.

Итак, подведем итоги:
1. Хороший, натуральный продукт не может стоить дешевле 400-600 рублей за килограмм
2. Торт, привезенный из другого региона почти всегда подвергался заморозке
3. Настоящая дата изготовления торта на дне коробки
4. При выборе торта в магазине обращайте внимание на прозрачную часть коробки: если ли на ней следы старого стикера, гладкая ли этикетка (если на ней морщинки, то большая вероятность, что она была переклеена или нагревалась)

Если хотите себя побаловать сладким, покупайте торты и пирожные в хороших дорогих кондитерских и внимательно изучайте состав и коробку.
</p>
    </div>
    </div>
</div>
    {% endblock %}