{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Наши продукты</h1>
  <p class="lead">В своей работе мы используем исключительно натуральные продукты - настоящие сливки, обычный творог, качественную муку, поэтому вы можете, не опасаясь, угощать моими лакомствами и своих детей. Выбирайте вкуснейшие тортики и удивите гостей оригинальным сладким подарком!</p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Торты</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">от 1500 Руб <small class="text-muted">/ Кг</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Минимальный вес:</li>
          <li>Кремовых тортов от 2 кг</li>
          <li>Мастичных от 2.5 кг</li>
          <li>3Dтортов - от 3 кг</li>
          <li>Декор оплачивается отдельно</li>
        </ul>
        <a href="http://127.0.0.1:5000/products"><button type="button" class="btn btn-lg btn-block btn-primary">Перейти</button></a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}